html{
    font-size:16px;
}
body { 
    background-color:rgb(4, 27, 97); 
    font-family: sans-serif;
}
h1{
    color: white;
    margin:5rem auto;
    width:50%;
}
main{
    color:lightgrey;
    width:50%;
    margin:5rem auto;
    display:grid;
    grid-template-columns: repeat(1,1fr);
}
#div_response {
    font-size:1.5rem;
}

#guess100 {
    color:red;
}